In [1]:
print ("Hello world")

Hello world

In [2]:
a=5
b="DA"
c=4.5

print (a,b,c)

5 DA 4.5

In [3]:
print (b , c)

DA 4.5

In [4]:
a=b=c=10

In [5]:
print (a,b,c)

10 10 10

In [6]:
x,y,z = 100, "data science" , 3.2

In [7]:
print(x)
print(y)
print(z)

100
data science
3.2

In [9]:
a="Hello world!"
print (a)

Hello world!

In [10]:
print(a[0])

H

In [11]:
print(a[1])

e

In [12]:
print(a[0:3])

Hel

In [13]:
print(len(a))

12

In [14]:
a="Hello , World !!!"

In [15]:
print(len(a))

17

In [16]:
print(a.lower())

hello , world !!!

In [17]:
print(a.upper())

HELLO , WORLD !!!

In [18]:
print(a.replace("H","J"))

Jello , World !!!

In [20]:
name="Data Science"
txt = "The module is :" +name

In [21]:
print(txt)

The module is :Data Science

In [23]:
a=input("Enter a number :")
print (a)

Enter a number :10
10

In [25]:
name=input("Enter your name : ")
age=input("Enter your age : ")
print ("Your name is : "+name, "Your age is : " +age)

Enter your name : oneiilk2
Enter your age : 22
Your name is : oneiilk2 Your age is : 22

In [26]:
1+2

3

In [27]:
3-5

-2

In [28]:
15/3

5.0

In [29]:
16/3

5.333333333333333

In [30]:
16%3

1

In [31]:
5*3

15

In [32]:
5**3

125

In [33]:
y = 125

In [34]:
y == 125

True

In [35]:
y = 12

In [36]:
y == 123

False

In [37]:
x= 10

In [38]:
x !=10

False

In [39]:
100 < 50

False

In [40]:
10 > 20

False

In [41]:
200 > 20

True

In [2]:
number = int(input("Enter a number"))
if (number %2) == 0:
    print ("Even")
else:
    print("Odd")

Enter a number10
Even

In [10]:
for num in range(7):
    for i in range(num):
        print (num, end=" ") 
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

In [4]:
list1=['physics','chemistry', 1997,2000]
list2=[1,2,3,4,5,6,7];
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [11]:
list = ['physics', 'chemistry', 1997, 2000];
print(list[1])
print(list[2])
print(list[3])

list[1]="maths"
print(list[1])

chemistry
1997
2000
maths

In [12]:
del list[2]

In [13]:
len(list)

3

In [15]:
list.append("SE")
print(list)

['physics', 'maths', 2000, 'SE', 'SE']

In [17]:
list = [1,2,4,5,4,7]
print("Largest element is:", max(list))

Largest element is: 7