In [1]:
import pandas as pd

In [2]:
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.model_selection import train_test_split

In [9]:
car_data=pd.read_csv("car.csv",names=['buying','maint','doors','persons','lug_boot','safety','Car'])

In [10]:
car_data.head()

  buying  maint doors persons lug_boot safety    Car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [11]:
car_data['safety'],_=pd.factorize(car_data['safety'])

In [12]:
car_data.head()

  buying  maint doors persons lug_boot  safety    Car
0  vhigh  vhigh     2       2    small       0  unacc
1  vhigh  vhigh     2       2    small       1  unacc
2  vhigh  vhigh     2       2    small       2  unacc
3  vhigh  vhigh     2       2      med       0  unacc
4  vhigh  vhigh     2       2      med       1  unacc

In [13]:
car_data['buying'],_=pd.factorize(car_data['buying'])
car_data['maint'],_=pd.factorize(car_data['maint'])
car_data['doors'],_=pd.factorize(car_data['doors'])
car_data['persons'],_=pd.factorize(car_data['persons'])
car_data['lug_boot'],_=pd.factorize(car_data['lug_boot'])
car_data['Car'],_=pd.factorize(car_data['Car'])

In [14]:
car_data.head()

   buying  maint  doors  persons  lug_boot  safety  Car
0       0      0      0        0         0       0    0
1       0      0      0        0         0       1    0
2       0      0      0        0         0       2    0
3       0      0      0        0         1       0    0
4       0      0      0        0         1       1    0

In [24]:
features=car_data.iloc[:,0:6]

In [25]:
features.shape

(1728, 6)

In [26]:
features.head()

   buying  maint  doors  persons  lug_boot  safety
0       0      0      0        0         0       0
1       0      0      0        0         0       1
2       0      0      0        0         0       2
3       0      0      0        0         1       0
4       0      0      0        0         1       1

In [30]:
car_type=car_data.iloc[:,6]

In [31]:
car_type.head()

0    0
1    0
2    0
3    0
4    0
Name: Car, dtype: int64

In [32]:
F_train,F_test,C_train,C_test = train_test_split(features,car_type, test_size=0.25)

In [33]:
car_classifier=DecisionTreeClassifier(random_state=0)

In [34]:
car_classifier.fit(F_train,C_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [35]:
car_classifier.score(F_test,C_test)

0.9629629629629629

In [38]:
F_train.shape

(1296, 6)