In [1]:
import pandas as pd

In [4]:
from sklearn.tree import DecisionTreeClassifier

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
zoo_data=pd.read_csv("zoo.csv")

In [8]:
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [11]:
zoo_data['class_type'].unique()

array([1, 4, 2, 7, 6, 5, 3], dtype=int64)

In [12]:
features=zoo_data.iloc[:,1:17]
# zoo_data.iloc['animal_name','class_type']

In [14]:
features.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [17]:
features.shape

(100, 16)

In [19]:
clz_type=zoo_data.iloc[:,17]

In [20]:
clz_type.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [21]:
clz_type.shape

(100,)

In [30]:
F_train,F_test,C_train,C_test = train_test_split(features,clz_type, test_size=0.25)
# test = 75%
# train = 25%

In [31]:
F_train.shape

(75, 16)

In [32]:
F_test.shape

(25, 16)

In [33]:
C_train.shape

(75,)

In [34]:
C_test.shape

(25,)

In [35]:
zoo_classifier=DecisionTreeClassifier(random_state=0)

In [36]:
zoo_classifier.fit(F_train,C_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [38]:
zoo_classifier.score(F_test,C_test)

0.84

In [45]:
C_test[10:15]

61    3
88    5
44    1
72    4
33    4
Name: class_type, dtype: int64

In [46]:
zoo_classifier.predict(F_test[10:15])

array([3, 6, 1, 4, 4], dtype=int64)

In [47]:
result=pd.DataFrame(columns=['actual','predict'])

In [49]:
result['actual']=zoo_classifier.predict(F_test[10:15])

In [50]:
result['predict']=C_test[10:15]

In [51]:
result

   actual  predict
0       3      NaN
1       6      NaN
2       1      NaN
3       4      NaN
4       4      NaN