In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [7]:
raw_data=pd.read_csv("loan.csv") #load data in the loan.csv

In [8]:
raw_data.head() #display first five rows in the DataFrame

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
raw_data.shape # display the shape d the dataframe. No of rows and columns.

(20000, 142)

In [11]:
raw_data.dtypes # display data types.

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                                 int64
term                                           object
int_rate                                      float64
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
                                               ...
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                 float64
hardship_reason                               float64
hardship_status                               float64
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                           float64
hardship_end_date                             float64
payment_plan_start_date                       float64
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                          float64
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                     float64
settlement_status                             float64
settlement_date                               float64
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
Length: 142, dtype: object

In [13]:
raw_data['loan_amnt'].describe() # provide descriptive statistics relavance to the column.

count    20000.000000
mean     16111.383750
std      10369.193761
min       1000.000000
25%       8000.000000
50%      14000.000000
75%      22000.000000
max      40000.000000
Name: loan_amnt, dtype: float64

In [14]:
raw_data['funded_amnt'].describe()

count    20000.000000
mean     16111.383750
std      10369.193761
min       1000.000000
25%       8000.000000
50%      14000.000000
75%      22000.000000
max      40000.000000
Name: funded_amnt, dtype: float64

In [16]:
# Remove irrelevant columns
# DataFrame.drop

In [20]:
raw_data= raw_data.drop(['zip_code', 'policy_code', 'application_type', 'last_credit_pull_d',
'verification_status', 'pymnt_plan', 'funded_amnt_inv', 'sub_grade', 'out_prncp',
'out_prncp_inv', 'total_pymnt_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
'last_pymnt_amnt', 'initial_list_status'], axis =1)

In [21]:
raw_data.head() # Disaply after removing the irrelevant columns

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,36 months,13.56,84.92,C,Chef,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,60 months,18.94,777.23,D,Postmaster,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,36 months,17.97,180.69,D,Administrative,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,60 months,16.14,731.78,C,Mechanic,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
col_num=0
TotalObjects = raw_data.shape[0]
print ("Column\t\t\t\t\t Null Values%")
for x in raw_data:
    
 nullCount = raw_data[x].isnull().sum();
 nullPercent = nullCount*100 / (TotalObjects)
    
 if nullCount > 0 and nullPercent > 20 :
     col_num = col_num + 1
     raw_data.drop(x, axis=1,inplace=True)
     print(str(x)+"\t\t\t\t\t "+str(nullPercent))
print ("A total of "+str(col_num)+" deleted !")

Column					 Null Values%
id					 100.0
member_id					 100.0
url					 100.0
desc					 100.0
mths_since_last_delinq					 56.375
mths_since_last_record					 88.41
mths_since_last_major_derog					 77.47
annual_inc_joint					 87.845
dti_joint					 87.845
verification_status_joint					 89.17
mths_since_recent_bc_dlq					 80.36
mths_since_recent_revol_delinq					 71.3
revol_bal_joint					 87.845
sec_app_earliest_cr_line					 87.845
sec_app_inq_last_6mths					 87.845
sec_app_mort_acc					 87.845
sec_app_open_acc					 87.845
sec_app_revol_util					 88.0
sec_app_open_act_il					 87.845
sec_app_num_rev_accts					 87.845
sec_app_chargeoff_within_12_mths					 87.845
sec_app_collections_12_mths_ex_med					 87.845
sec_app_mths_since_last_major_derog					 96.295
hardship_type					 100.0
hardship_reason					 100.0
hardship_status					 100.0
deferral_term					 100.0
hardship_amount					 100.0
hardship_start_date					 100.0
hardship_end_date					 100.0
payment_plan_start_date					 100.0
hardship_length					 100.0
hardship_dpd					 100.0
hardship_loan_status					 100.0
orig_projected_additional_accrued_interest					 100.0
hardship_payoff_balance_amount					 100.0
hardship_last_payment_amount					 100.0
debt_settlement_flag_date					 100.0
settlement_status					 100.0
settlement_date					 100.0
settlement_amount					 100.0
settlement_percentage					 100.0
settlement_term					 100.0
A total of 43 deleted !

In [31]:
raw_data.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,36 months,13.56,84.92,C,Chef,10+ years,RENT,55000.0,...,0.0,1,0,60124,16901,36500,18124,N,Cash,N
1,30000,30000,60 months,18.94,777.23,D,Postmaster,10+ years,MORTGAGE,90000.0,...,0.0,1,0,372872,99468,15000,94072,N,Cash,N
2,5000,5000,36 months,17.97,180.69,D,Administrative,6 years,MORTGAGE,59280.0,...,0.0,0,0,136927,11749,13800,10000,N,Cash,N
3,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10+ years,MORTGAGE,92000.0,...,100.0,0,0,385183,36151,5000,44984,N,Cash,N
4,30000,30000,60 months,16.14,731.78,C,Mechanic,10+ years,MORTGAGE,57250.0,...,0.0,0,0,157548,29674,9300,32332,N,Cash,N

In [33]:
raw_data.shape

(20000, 79)

In [34]:
#DataFrane.fillna fill the NaN (NOT A NUMBER) values

In [35]:
raw_data['emp_title'].fillna('Unkown', inplace=True)
raw_data['dti'].fillna(0, inplace=True)
raw_data['revol_util'].fillna(raw_data['revol_util'].mean(),inplace= True)

In [36]:
raw_data.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,36 months,13.56,84.92,C,Chef,10+ years,RENT,55000.0,...,0.0,1,0,60124,16901,36500,18124,N,Cash,N
1,30000,30000,60 months,18.94,777.23,D,Postmaster,10+ years,MORTGAGE,90000.0,...,0.0,1,0,372872,99468,15000,94072,N,Cash,N
2,5000,5000,36 months,17.97,180.69,D,Administrative,6 years,MORTGAGE,59280.0,...,0.0,0,0,136927,11749,13800,10000,N,Cash,N
3,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10+ years,MORTGAGE,92000.0,...,100.0,0,0,385183,36151,5000,44984,N,Cash,N
4,30000,30000,60 months,16.14,731.78,C,Mechanic,10+ years,MORTGAGE,57250.0,...,0.0,0,0,157548,29674,9300,32332,N,Cash,N

In [37]:
raw_data # Display data

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,36 months,13.56,84.92,C,Chef,10+ years,RENT,55000.00,...,0.0,1,0,60124,16901,36500,18124,N,Cash,N
1,30000,30000,60 months,18.94,777.23,D,Postmaster,10+ years,MORTGAGE,90000.00,...,0.0,1,0,372872,99468,15000,94072,N,Cash,N
2,5000,5000,36 months,17.97,180.69,D,Administrative,6 years,MORTGAGE,59280.00,...,0.0,0,0,136927,11749,13800,10000,N,Cash,N
3,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10+ years,MORTGAGE,92000.00,...,100.0,0,0,385183,36151,5000,44984,N,Cash,N
4,30000,30000,60 months,16.14,731.78,C,Mechanic,10+ years,MORTGAGE,57250.00,...,0.0,0,0,157548,29674,9300,32332,N,Cash,N
5,5550,5550,36 months,15.02,192.45,C,Director COE,10+ years,MORTGAGE,152500.00,...,60.0,0,0,831687,185378,65900,203159,N,Cash,N
6,2000,2000,36 months,17.97,72.28,D,Account Manager,4 years,RENT,51000.00,...,NaN,0,0,854,854,0,0,N,Cash,N
7,6000,6000,36 months,13.56,203.79,C,Assistant Director,10+ years,RENT,65000.00,...,85.7,0,0,117242,91535,33100,61742,N,DirectPay,N
8,5000,5000,36 months,17.97,180.69,D,Legal Assistant III,10+ years,MORTGAGE,53580.00,...,60.0,0,0,57426,41882,21500,34626,N,Cash,N
9,6000,6000,36 months,14.47,206.44,C,Unkown,< 1 year,OWN,300000.00,...,26.3,0,0,477390,105911,98300,89600,N,Cash,N
10,5500,5500,36 months,22.35,211.05,D,Unkown,< 1 year,MORTGAGE,50000.00,...,100.0,0,0,243452,18185,4800,15649,N,Cash,N
11,28000,28000,60 months,11.31,613.13,B,Consultant,2 years,MORTGAGE,70000.00,...,37.5,0,0,259435,65636,100400,17535,N,DirectPay,N
12,11200,11200,36 months,8.19,351.95,A,Job Coach Supervisor,10+ years,MORTGAGE,65000.00,...,20.0,0,0,345654,78795,34900,114578,N,Cash,N
13,6500,6500,36 months,17.97,234.90,D,Quality Field Engineer,4 years,MORTGAGE,154000.00,...,20.0,0,0,169160,116747,12300,129860,N,Cash,N
14,22000,22000,60 months,12.98,500.35,B,Teller,10+ years,MORTGAGE,65000.00,...,0.0,0,0,71932,22337,27200,38535,N,Cash,N
15,3500,3500,36 months,16.14,123.30,C,respritory therapist,10+ years,MORTGAGE,80000.00,...,50.0,0,0,42328,16085,8000,27028,N,Cash,N
16,7000,7000,36 months,12.98,235.80,B,Worship Director,4 years,MORTGAGE,102500.00,...,0.0,0,0,214624,76709,7200,96826,N,Cash,N
17,25000,25000,60 months,16.91,620.11,C,Processor,10+ years,MORTGAGE,23878.00,...,100.0,0,0,92334,3044,1000,0,N,Cash,N
18,16000,16000,60 months,20.89,431.87,D,Neonatal Nurse Practitioner,4 years,MORTGAGE,120000.00,...,100.0,0,0,444217,266754,13500,239338,N,Cash,N
19,13000,13000,60 months,14.47,305.67,C,Stationary Engineer,10+ years,MORTGAGE,75000.00,...,33.3,0,0,176598,50920,26700,50898,N,Cash,N
20,10000,10000,36 months,13.56,339.65,C,Unkown,< 1 year,MORTGAGE,65000.00,...,80.0,1,0,48052,45972,11500,34852,N,Cash,N
21,13000,13000,36 months,14.47,447.29,C,Exhibits director,10+ years,MORTGAGE,55000.00,...,75.0,0,0,41150,13878,13900,1000,N,Cash,N
22,9600,9600,36 months,23.40,373.62,E,driver coordinator,9 years,RENT,65000.00,...,85.7,0,0,68902,24165,7600,40402,N,Cash,N
23,3500,3500,36 months,20.89,131.67,D,gas attendant,10+ years,MORTGAGE,40000.00,...,0.0,0,0,217000,26902,5000,25000,N,Cash,N
24,16000,16000,60 months,26.31,481.99,E,Financial Relationship Associate,< 1 year,RENT,33000.00,...,55.6,0,0,45709,29869,13900,10809,N,Cash,N
25,15000,15000,60 months,14.47,352.69,C,Unkown,NaN,MORTGAGE,30000.00,...,50.0,0,0,118790,24507,9900,14490,N,Cash,N
26,13000,13000,36 months,23.40,505.95,E,Sale Representative,2 years,MORTGAGE,90000.00,...,66.7,0,0,137276,87876,58600,74676,N,Cash,N
27,23000,23000,60 months,20.89,620.81,D,Operator,5 years,RENT,68107.00,...,0.0,0,0,7500,976,3300,0,N,Cash,N
28,8000,8000,36 months,23.40,311.35,E,Manager,10+ years,OWN,43000.00,...,100.0,1,0,199744,31078,2300,32206,N,Cash,N
29,32075,32075,60 months,11.80,710.26,B,Nursing Supervisor,10+ years,MORTGAGE,150000.00,...,50.0,0,0,360433,56635,20000,80125,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,32000,32000,36 months,8.19,1005.58,A,Unkown,NaN,MORTGAGE,99000.00,...,33.3,0,0,399200,65168,30700,25000,N,Cash,N
19971,25000,25000,36 months,26.31,1011.40,E,Integrations Engineer,2 years,OWN,90000.00,...,30.0,0,0,73335,39921,34100,26135,N,Cash,N
19972,10000,10000,36 months,7.56,311.34,A,Unkown,< 1 year,MORTGAGE,75000.00,...,16.7,0,0,396300,25654,63400,0,N,Cash,N
19973,6600,6600,36 months,8.81,209.30,A,Branch Manager,2 years,MORTGAGE,85000.00,...,33.3,0,0,308454,44226,15800,36454,N,DirectPay,N
19974,20000,20000,60 months,20.89,539.84,D,"Managing Attorney, Philadelphia office",5 years,RENT,85000.00,...,50.0,0,0,7100,4178,6500,0,N,Cash,N
19975,4000,4000,36 months,14.47,137.63,C,Supervisor,8 years,MORTGAGE,70000.00,...,33.3,0,0,243040,34699,9000,36490,N,Cash,N
19976,15000,15000,60 months,27.27,460.46,E,Lead technician,2 years,RENT,100000.00,...,62.5,1,0,95463,78730,10700,72463,N,Cash,N
19977,15000,15000,36 months,10.33,486.34,B,Unkown,< 1 year,MORTGAGE,90000.00,...,0.0,0,0,97454,38683,40600,29479,N,Cash,N
19978,20025,20025,36 months,25.34,799.80,E,HVAC Service Manager,1 year,MORTGAGE,150000.00,...,33.3,0,0,30599,16844,12000,17799,N,Cash,N
19979,35000,35000,60 months,27.27,1074.40,E,RTW SUPERVISOR,10+ years,MORTGAGE,95000.00,...,100.0,1,0,121635,116448,25500,89535,N,Cash,N
19980,6000,6000,36 months,14.47,206.44,C,Sr. Mechanical Designer,10+ years,MORTGAGE,71000.00,...,60.0,0,0,308242,96309,74500,45116,N,Cash,N
19981,40000,40000,60 months,11.80,885.75,B,PRACTICE MANAGER,10+ years,OWN,275600.00,...,50.0,0,0,171300,105269,81800,55000,N,Cash,N
19982,25000,25000,60 months,13.56,576.02,C,Shareholder,< 1 year,RENT,525000.00,...,37.5,0,0,100792,72929,22600,63192,N,Cash,N
19983,10000,10000,36 months,12.98,336.85,B,Demand Planner,8 years,MORTGAGE,155000.00,...,50.0,0,0,500852,86740,37600,67563,N,Cash,N
19984,25450,25450,36 months,19.92,944.78,D,Real Estate agent,10+ years,MORTGAGE,550000.00,...,36.4,0,0,238203,133109,60000,112283,N,Cash,N
19985,14000,14000,60 months,12.98,318.40,B,CONTROLLER,10+ years,OWN,118000.00,...,0.0,0,0,204637,96830,53100,108437,N,Cash,N
19986,2100,2100,36 months,11.31,69.07,B,Hog Procurement trainee,< 1 year,RENT,50000.00,...,100.0,0,0,68940,61488,2500,62040,N,DirectPay,N
19987,27650,27650,60 months,19.92,731.33,D,Assistant Professor,5 years,MORTGAGE,61000.00,...,0.0,0,0,668769,502375,37500,462240,N,Cash,N
19988,8000,8000,36 months,18.94,293.01,D,Secretary,10+ years,RENT,41166.00,...,12.5,0,0,80653,42900,36600,37353,N,Cash,N
19989,7000,7000,36 months,7.56,217.94,A,Unwinds Specialist,5 years,MORTGAGE,50000.00,...,0.0,0,0,290470,27019,17300,29380,N,Cash,N
19990,1000,1000,36 months,10.72,32.61,B,Unkown,NaN,MORTGAGE,85000.00,...,0.0,0,0,305679,26121,32000,15916,N,Cash,N
19991,20000,20000,60 months,27.27,613.94,E,Unkown,NaN,ANY,48000.00,...,80.0,0,0,159473,31921,14200,32873,N,Cash,N
19992,10000,10000,36 months,8.81,317.12,A,Asset Manager,2 years,MORTGAGE,92000.00,...,0.0,0,0,142976,53223,51000,71976,N,Cash,N
19993,10000,10000,60 months,14.47,235.13,C,Unkown,< 1 year,OWN,78000.00,...,75.0,0,0,243310,23780,16800,27405,N,Cash,N
19994,7000,7000,36 months,16.14,246.59,C,Special Projects Manager,6 years,RENT,75000.00,...,100.0,0,0,57981,54149,33900,12581,N,DirectPay,N
19995,16000,16000,60 months,16.14,390.29,C,Peace Officer,10+ years,MORTGAGE,145000.00,...,83.3,1,0,537306,94132,19000,73795,N,Cash,N
19996,10000,10000,36 months,10.72,326.07,B,Director Customer Services,10+ years,MORTGAGE,110582.16,...,50.0,0,0,681200,52533,16200,66000,N,Cash,N
19997,3625,3625,36 months,20.89,136.37,D,General manager,3 years,MORTGAGE,55000.00,...,0.0,0,0,384898,61077,30300,52673,N,Cash,N
19998,24000,24000,60 months,12.98,545.83,B,Medical Assistant,6 years,MORTGAGE,40000.00,...,100.0,0,0,760203,91811,5000,143098,N,Cash,N
19999,24000,24000,36 months,11.31,789.26,B,Unkown,< 1 year,RENT,197000.00,...,53.3,0,0,217776,130213,122500,75576,N,Cash,N

In [39]:
pd.unique(raw_data['emp_length'].values) # returns the unique values in the dataFrame as an array

array(['10+ years', '6 years', '4 years', '< 1 year', '2 years',
       '9 years', nan, '5 years', '3 years', '7 years', '1 year',
       '8 years'], dtype=object)

In [40]:
# Formatting DATA

In [41]:
def CalculateEmployeeLength(year):
    if year == '< 1 year':
        return 0.5
    elif year == '10+ years':
        return 10
    else:
        yr=str(year)
        return yr.rstrip('years')

In [44]:
raw_data['emp_length']=raw_data['emp_length'].apply(CalculateEmployeeLength)

In [45]:
raw_data.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,36 months,13.56,84.92,C,Chef,10,RENT,55000.0,...,0.0,1,0,60124,16901,36500,18124,N,Cash,N
1,30000,30000,60 months,18.94,777.23,D,Postmaster,10,MORTGAGE,90000.0,...,0.0,1,0,372872,99468,15000,94072,N,Cash,N
2,5000,5000,36 months,17.97,180.69,D,Administrative,6,MORTGAGE,59280.0,...,0.0,0,0,136927,11749,13800,10000,N,Cash,N
3,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10,MORTGAGE,92000.0,...,100.0,0,0,385183,36151,5000,44984,N,Cash,N
4,30000,30000,60 months,16.14,731.78,C,Mechanic,10,MORTGAGE,57250.0,...,0.0,0,0,157548,29674,9300,32332,N,Cash,N

In [ ]:
# Visualizing data

In [52]:
def CalculateLoanRanges(value):
    if value <= 5000:
        return '5K and Below'
    if value > 5000 and value <= 10000:
        return '5k-10k'
    if value > 10000 and value <= 15000:
        return '10K-15K'
    if value > 15000 and value <= 20000:
         return '15K-20K'
    if value > 20000 and value <= 25000:
         return '20K-25K'
    if value > 25000 and value <= 30000:
         return '25K-30K'
    if value > 30000:
         return '30K and Above'
    return 'Other'